<div class="body">
  <div class="form-container">
    <form [formGroup]="myForm!" (ngSubmit) = 'submitForm()'>
      <h1>Sign Up</h1>

      <!-- Text Input -->
      <div class="form-group">
        <label for="text">Username <span class="red">*</span></label>
        <input type="text" placeholder="Username" formControlName="username">
        <div class="msg" *ngIf = "myForm.get('username')?.invalid && myForm.get('username')?.touched">
          <div class="msg" *ngIf = "myForm.get('username')?.errors?.['required']">
          *username is required
        </div>
        <div class="msg" *ngIf = "myForm.get('username')?.errors?.['minlength']" >
          *Ay 7Aga
        </div>
        </div>
      </div>

      <!-- Email Input -->
      <div class="form-group">
        <label for="email">Email <span class="red">*</span></label>
        <input type="email" placeholder="Enter email" formControlName="email">
        <div class="msg" *ngIf = "myForm.get('email')?.invalid && myForm.get('email')?.touched">
          <div class="msg" *ngIf = "myForm.get('email')?.errors?.['required']">
          *email is required
        </div>
        <div class="msg" *ngIf = "myForm.get('email')?.errors?.['email']" >
          *Ay 7Aga
        </div>
        </div>
      </div>

      <!-- Password Input -->
      <div class="form-group">
        <label for="password">Password <span class="red">*</span></label>
        <input type="password" placeholder="Enter password" formControlName="password">
        <div class="msg" *ngIf = "myForm.get('password')?.invalid && myForm.get('password')?.touched">
          <div class="msg" *ngIf = "myForm.get('password')?.errors?.['required']">
          *password is required
        </div>
        <div class="msg" *ngIf = "myForm.get('password')?.errors?.['passwordstrength']" >
          *password must be strong
        </div>
        </div>
      </div>

      <!-- Re-type Password Input -->
      <div class="form-group">
        <label for="password">Re-type Password <span class="red">*</span></label>
        <input type="password" placeholder="Re-type Password" formControlName="retypePassword"
        [ngClass] = "{'ng-invalid' : myForm.hasError('passwordMismatch') && myForm.get('retypePassword')?.touched}">

        <div class="msg" *ngIf = "myForm.get('retypePassword')?.invalid && myForm.get('retypePassword')?.touched">
          <div class="msg" *ngIf = "myForm.get('retypePassword')?.errors?.['required']">
          *retypePassword is required
        </div>
      </div>
    </div>
    <div class="msg" *ngIf = "myForm.errors?.['passwordMismatch'] && myForm.get('retypePassword')?.touched " >
      *retypePassword not match
    </div>

      <!-- Number Input -->
      <div class="form-group">
        <label for="number">Age <span class="red">*</span></label>
        <input type="number" placeholder="Age" formControlName="age">
        <div class="msg" *ngIf = "myForm.get('age')?.invalid && myForm.get('age')?.touched">
          <div class="msg" *ngIf = "myForm.get('age')?.errors?.['required']">
          *age is required
      </div>
        </div>
      </div>

     <!-- Telephone Input -->
     <div class="form-group">
      <label for="tel">Phone NO. <span class="red">*</span></label>
      <input type="tel" placeholder="Phone NO." formControlName="phone">
      <div class="msg" *ngIf = "myForm.get('phone')?.invalid && myForm.get('phone')?.touched">
        <div class="msg" *ngIf = "myForm.get('phone')?.errors?.['required']">
        *phone is required
    </div>
      </div>
    </div>

      <!-- Radio Buttons -->
      <div class="form-group">
        <label>Gender <span class="red">*</span></label>
        <div class="form-group-inline">
          <input type="radio" id="radio1" formControlName="gender" value="female">
          <label for="radio1">Female</label>
        </div>
        <div class="form-group-inline">
          <input type="radio" id="radio2" formControlName="gender" value="male">
          <label for="radio2">Male</label>
        </div>
      </div>

      <div>
        <p class="account" >Already have account ? <a routerLink="/account/login">Login</a></p>
      </div>

      <!-- Submit Button -->
      <div id="submitBtn" class="form-group text-center" >
        <input type="submit" value="Join Us" />
      </div>
    </form>
  </div>
</div>
